#abstract1{padding:20px;
    align-content:left;}
 #abstract2{padding:20px;
    align-content:left;}
 #abstract3{padding:20px;
    align-content:left;}
 #abstract4{padding:20px;
    align-content:left;}
 #abstract5{padding:20px;
    align-content:left;}
    
.box1{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    width:200px;
    height:60px;
    position:absolute;
    top:290px;
    left:30px;
    Background-color:#4aaaa5;
    color:white;
    text-align: center;
}
.box2{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    width:200px;
    height:60px;
    position:absolute;
    top:290px;
    right:195px;
    Background-color:#4aaaa5;
    color:white;
    text-align: center;
}
.box3{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    width:200px;
    height:60px;
    position:absolute;
    top:530px;
    left:30px;
    Background-color:#4aaaa5;
    color:white;
    text-align: center;

}.box4{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    width:200px;
    height:60px;
    position:absolute;
    top:530px;
    right:195px;
    Background-color:#4aaaa5;
    color:white;
    text-align: center;

}.box5{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    width:200px;
    height:60px;
    position:absolute;
    top:790px;
    left:30px;
    Background-color:#4aaaa5;
    color:white;
    text-align: center;
}
.links{position: absolute;
    margin:auto;
    align-content: center;
    left:100px;
    right:100px;
    Top:900px;
    padding-right: 200px;
    padding-left: 200px;