body{background-image:url(../images/noisy.png);
    size: 100%
}
header{background:white;
    height:90px;
    width:100%;
    border-bottom: solid;
    border-width: 2px;
    border-color:grey;
}
.name{background-color:#4aaaa5;
    padding:30px;
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    margin-left:180px;
    float: left;}

.pagelinks{color:grey;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    float: right;
    Margin-right:25px;
    margin-top:50px;
}
h2{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:40px;
    color:#4aaaa5;
    border-bottom: solid;
    border-bottom-width: 3px;
    border-bottom-color: grey;
}
#face{clear: both;
    float:left;
    height:150px;
    width:200px;
    margin-right:10px;
    margin-bottom:5px;

}
.paragraph1{clear: both;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-left:180px;
    margin-top:50px;
    background: #ffffff;
    color:grey;
    border:solid;
    border-width:1px;
    border-color:grey;
    padding: 10px;
    width:650px;
    overflow:auto;
    position:relative;
}
.links{clear:both;
    position: fixed;
    right: 50px;  
    top:250px;  
    font-size:20px;
    color:#4aaaa5;
    background:white;
    width:270px;
    text-align: center;
    border:solid;
    border-width:1px;
    border-color:grey;
    padding: 10px;
}
#git {height:40px; width:40px;}
#linkedin{height:40px; width:40px;}
#fullstack{height:40px; width:40px;}
#abstract1{padding:20px;
position: relative}
#abstract2{padding:20px;}
#abstract3{padding:20px;}
#abstract4{padding:20px;}
#abstract5{padding:20px;}


footer{clear:both;
    position: relative;
    height:50px;
    text-align:center;
    font-size:20px;
    padding:25px;
    bottom:0px;
    width:100%;
    background: grey;
    color:darkgrey;
    border-color: #4aaaa5;
    border: solid;
    border-top-width: 8px;
    margin-top: -50px;
}
h2 h1{font-family: Georgia, 'Times New Roman', Times, serif;
}
.box1{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    width:200px;
    height:60px;
    position:absolute;
    top:290px;
    left:30px;
    Background-color:#4aaaa5;
    color:white;
    text-align: center;
}
.box2{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    width:200px;
    height:60px;
    position:absolute;
    top:290px;
    right:195px;
    Background-color:#4aaaa5;
    color:white;
    text-align: center;
}
.box3{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    width:200px;
    height:60px;
    position:absolute;
    top:530px;
    left:30px;
    Background-color:#4aaaa5;
    color:white;
    text-align: center;
}.box4{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    width:200px;
    height:60px;
    position:absolute;
    top:530px;
    right:195px;
    Background-color:#4aaaa5;
    color:white;
    text-align: center;
}.box5{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    width:200px;
    height:60px;
    position:absolute;
    top:790px;
    left:30px;
    Background-color:#4aaaa5;
    color:white;
    text-align: center;
}
html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
  }
@media screen and (max-width: 980px){
    .links{position: absolute;
        margin:auto;
        align-content: center;
        left:180px;
        right:400px;
        Top:520px;
        padding-right: 200px;
        padding-left: 200px;
}
@media screen and (max-width: 760px){
    .links{position: absolute;
        margin:auto;
        align-content: center;
        left:180px;
        right:400px;
        Top:520px;
        padding-right: 200px;
        padding-left: 200px;
}
@media screen and (max-width: 640px){
    .links{position: absolute;
        margin:auto;
        align-content: center;
        left:180px;
        right:400px;
        Top:520px;
        padding-right: 200px;
        padding-left: 200px;
}
